<div class="container py-2">
  <div class="row justify-content-center">
    <div class="col-xl-10 py-3">
      <h1 class="text-center py-3"> EQUIPO DE TRABAJO DISINN PRO</h1>
      <table class="table align-items-center">
        <thead class="text-center">
        <tr>
          <th scope="col">#</th>
          <th scope="col">NOMBRE ID</th>
          <th scope="col">ÁREA/PUESTO</th>
          <th scope="col">CORREO</th>
        </tr>
        </thead>
        <tbody class="text-center">
        <tr>
          <th scope="row">1</th>
          <td>FAUSTO OVIEDO</td>
          <td>DISEÑADOR GRÁFICO</td>
          <td>foviedo@disinn.com</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>PATRICIO VEGA</td>
          <td>DESARROLADOR</td>
          <td>pvega@disinn.com</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>CRISTIAN CARDF</td>
          <td>MARKETING</td>
          <td>ccardf@disinn.com</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="accordion py-5" style="color: aliceblue" id="accordionExample">
      <div class="card bg-dark">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              BRANDING
            </button>
          </h5>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body bg-secondary">
            Somos una agencia de diseño integral especializada en construcción y desarrollo estratégico de marcas (branding). La marca en sí lleva asociados  valores que son construidos de una manera continua que implica de manera directa un desarrollo de la personalidad de la empresa o servicio.
          </div>
        </div>
      </div>
      <div class="card bg-dark">
        <div class="card-header" id="headingTwo">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              DISEÑO WEB
            </button>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
          <div class="card-body bg-secondary">
            Realizamos diseños web a medida de su necesidad, con un exhaustivo análisis previo de requerimientos. Sin plantillas predefinidas y aportando todos nuestros conocimientos en cuanto a accesibilidad , navegabilidad, diseño, seguridad y posicionamiento del sitio web (SEO), tendencias en diseño de interfaces gráficos, adaptabilidad de contenidos a distintos dispositivos (PC, tablets, smartphones, …) con diseños líquidos (responsive).          </div>
        </div>
      </div>
      <div class="card bg-dark">
        <div class="card-header" id="headingThree">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" style="color: aliceblue" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              DISEÑO = CREACIÓN
            </button>
          </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
          <div class="card-body bg-secondary">
            “El diseño ilustra la filosofía técnica y económica de una empresa, y la imagen de la empresa revela el carácter de la misma, define su mentalidad. El diseñador es el filósofo de la empresa, el que, sea cual sea dicha mentalidad, la hace perceptible”  Otl Aicher          </div>
        </div>
      </div>
    </div>
  </div>
</div>
