
<div class="container-fluid py-5 bg-secondary">
  <h1 class="text-center">REFERENCIAS DISINN</h1>
  <div class="row justify-content-center">
    <div class="col col-sm-12 col-md-12 col-lg-10 col-xl-10 py-1">
      <mat-tab-group animationDuration="200ms">
        <mat-tab label="DISEÑO WEB">Nuestros trabajos tienen las siguientes características: Ser original, exclusivo y único,  que se diferencie de los competidores.  El nombre de la Marca debe ser corto para que su memorización sea fácil y para que pueda ser pronunciado fácilmente independientemente del idioma.  Que en su traducción no sea ofensivo en otros idiomas.  Qué no esté registrado ni como marca, ni como dominio.  Que sea de fácil aplicación en todos los elementos – pequeños y grandes (merchandising, publicidad gráfica y vídeo, …)  Que sea de fácil impresión y no demande demasiados colores directos, todos estos aspectos hacen que nuestros trabajos sean originales y únicos.</mat-tab>
        <mat-tab label="DISEÑO MULTIMEDIA">Somos una agencia de diseño integral especializada en construcción y desarrollo estratégico de marcas (branding). La marca en sí lleva asociados  valores que son construidos de una manera continua que implica de manera directa un desarrollo de la personalidad de la empresa o servicio. DISEÑO = CREACIÓN “El diseño ilustra la filosofía técnica y económica de una empresa, y la imagen de la empresa revela el carácter de la misma, define su mentalidad. El diseñador es el filósofo de la empresa, el que, sea cual sea dicha mentalidad, la hace perceptible”  Otl Aicher</mat-tab>
        <mat-tab label="MARKETING ">Nuestros trabajos tienen las siguientes características: Ser original, exclusivo y único,  que se diferencie de los competidores. Todos los diseños   son de fácil aplicación en todos las redes sociales – adaptables (merchandising, publicidad gráfica y vídeo, …)  La finalidad de nuestra publicidad es que sea de fácil impresión y no demande demasiados colores directos, todos estos aspectos hacen que nuestros trabajos sean originales y únicos.</mat-tab>
      </mat-tab-group>
    </div>
  </div>
  <div class="container py-5" style="color: aliceblue">
    <h1 class="text-center">CONTACTANOS</h1>
    <div class="row justify-content-center">
      <div class="col col-sm-12 col-md-8 col-lg-8 col-xl-8 py-1">
          <form>
            <div class="form-group">
              <label for="exampleInputEmail1">Email</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ingresar su email">
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Nombre y Apellido</label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Datos personales">
            </div>
            <div class="form-group form-check">
              <label for="exampleInputEmail1">SSELECCIONE SU PAÍS</label><br>
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">ECUADOR</label><br>
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">COLOMBIA</label><br>
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">ESPAÑA</label><br><br>
              <label for="exampleFormControlTextarea1">MENSAJE</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
      </div>
    </div>
  </div>
</div>
